.random-list {
    ul{
        list-style: none;
        padding: 0;
        max-width: 440px;
        margin-bottom: 0;
        li{
            padding-top: 0px;
            img {
                width: 150px;
            }
        }
    }
}

.side-list-section {
    border-bottom: 1px solid #ddd;
}

.listavtar {
    padding-left: 10px;
    span {
        font-size: 14px;
    font-weight: 500;
    }
    p {
        padding-left: 0 !important;
        font-size: 12px !important;
        font-weight: 400;
        span {
            font-weight: normal !important;
            font-size: 12px;
            margin-top: 5px !important;
            display: flex;
        }
    }
}